/node_modules
/public/hot
/storage/json/*.json
/storage/json/price.json
 storage/
/vendor
.env
.env.backup
.htaccess
.styleci.yml
.gitignore
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
