/node_modules
/public/hot
/storage
/storage/*.key
/vendor
.env
.env.backup
.htaceess
.styleci.yml
.gitignore
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
